@model CocinaIdeal.Models.Cocina

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cocina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CantidadStock" class="control-label"></label>
                <input asp-for="CantidadStock" class="form-control" />
                <span asp-validation-for="CantidadStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductoFile" class="control-label"></label>
                <input asp-for="ProductoFile" class="form-control" />
                <span asp-validation-for="ProductoFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <br>
                
                </br>
         
            </div>
        </form>
    </div>
</div>

<div>
    <a class=" btn btn-secondary" asp-action="Index">Volver a la Lista</a>
</div>

